<!-- <br><div class="example-container">
    <h2>material LOGIN FORM</h2>
  <mat-form-field>
    <input matInput placeholder="email">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="password">
  </mat-form-field>

<br>
<button mat-raised-button color="primary">Login</button>
</div>
 -->

<div style="background-color:black">
<div class="container" style="border :1px solid blue;padding:50px;background-color: azure;margin: 50px ">
  <h2>LOGIN FORM</h2>
  <form action="/dashboard">
    <div class="form-group">
        <label for="email">Email:</label>


        <mat-form-field>
            <input matInput placeholder="email">
          </mat-form-field><br>
          
      <!-- 
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <mat-form-field>
          <input matInput  placeholder="password" type="password">
        </mat-form-field>  
        </div>



    <div class="checkbox">
        <mat-checkbox>Check me!</mat-checkbox>
      </div>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>
</div>